In [1]:
import MySQLdb
def conDB(dbName):   
    DATABASE = {"mozilla":"iwe"}
    db = MySQLdb.connect("localhost","root","9182736450",DATABASE[dbName])
    cursor = db.cursor()
    return cursor

cursor = conDB("mozilla")

In [2]:
sqlTS = """
UNIX_TIMESTAMP(ts1) - UNIX_TIMESTAMP(ts0),
UNIX_TIMESTAMP(ts2) - UNIX_TIMESTAMP(ts1),
UNIX_TIMESTAMP(ts3) - UNIX_TIMESTAMP(ts2),
UNIX_TIMESTAMP(ts4)- UNIX_TIMESTAMP(ts3),
UNIX_TIMESTAMP(ts5)- UNIX_TIMESTAMP(ts4) 
"""
sql = "SELECT transition, " + sqlTS + " FROM iwe_statustran "
cursor.execute(sql)
rawD = cursor.fetchall()

In [3]:
import numpy as np
import pandas as pd

In [5]:
import time

In [6]:
t1 = time.clock()
data = list(rawD)    
# init pandas dataframe
df = pd.DataFrame(data)
t2 = time.clock()
print t2-t1

0.723257039182

In [7]:
t1 = time.clock()
gb = df.groupby(df[0])
t2 = time.clock()
print t2-t1

0.000684218388825

In [11]:
t1 = time.clock()
s2 = gb.mean().T
t2 = time.clock()
print t2-t1

0.0408227498053

In [13]:
t1 = time.clock()
s = gb.quantile([.25,.5,.75]).T
t2 = time.clock()
print t2-t1

9.13738249975

In [14]:
s

0 ASSIGNED NEW                         ASSIGNED NEW ASSIGNED             \
          0.25        0.50        0.75                  0.25       0.50
1    7314989.0  21087081.0  45343355.5             1454132.5  3591521.0
2          NaN         NaN         NaN             4435416.5  6616153.0
3          NaN         NaN         NaN                   NaN        NaN
4          NaN         NaN         NaN                   NaN        NaN
5          NaN         NaN         NaN                   NaN        NaN

0              ASSIGNED NEW ASSIGNED NEW                          \
          0.75                      0.25        0.50        0.75
1  21694197.00                 6442845.0  17948492.0  18860659.0
2  14062928.25                 1577623.0   7602607.0   9875705.0
3          NaN                   17606.0   6624657.0  37044237.0
4          NaN                       NaN         NaN         NaN
5          NaN                       NaN         NaN         NaN

0 ASSIGNED NEW ASSIGNED NEW ASSIGNED     ...       \
                                0.25     ...
1                          2067637.0     ...
2                          4558239.0     ...
3                           286385.0     ...
4                          1421447.0     ...
5                                NaN     ...

0 UNCONFIRMED RESOLVED VERIFIED UNCONFIRMED RESOLVED UNCONFIRMED  \
                                                            0.75
1                                        16564156.25
2                                           24825.50
3                                            1023.00
4                                             585.50
5                                            3090.25

0 UNCONFIRMED RESOLVED VERIFIED UNCONFIRMED RESOLVED VERIFIED            \
                                                         0.25      0.50
1                                            1264.50             9065.5
2                                             804.00            16542.5
3                                            8264.75           111098.0
4                                              38.75             1104.0
5                                            1390.25            34200.0

0             VERIFIED REOPENED RESOLVED VERIFIED                           \
         0.75                                0.25        0.50         0.75
1   166820.75                         76156504.25  76545326.0  76740284.75
2   179873.00                               24.75        73.0       110.75
3  5598911.25                               66.50       129.0       175.00
4    73891.75                                 NaN         NaN          NaN
5  1832249.00                                 NaN         NaN          NaN

0 VERIFIED UNCONFIRMED RESOLVED VERIFIED
                                    0.25        0.50         0.75
1                            19548028.25  19549636.5  19551244.75
2                             2402587.75   2404202.5   2405817.25
3                             2201492.00   2201495.0   2201498.00
4                                    NaN         NaN          NaN
5                                    NaN         NaN          NaN

[5 rows x 1578 columns]

In [15]:
len(data)

679387

In [ ]:
rawDict = {}
for row in data:
    if row[0] not in rawDict:
        rawDict[row[0]]