In [1]:
import MySQLdb

def conDB(dbName):   
    DATABASE = {"mozilla":"iwe"}
    db = MySQLdb.connect("localhost","root","9182736450",DATABASE[dbName])
    cursor = db.cursor()
    return cursor

In [2]:
import time
t1 = time.clock()
cursor = conDB("mozilla")
sql = """
SELECT transition, UNIX_TIMESTAMP(ts1) - UNIX_TIMESTAMP(ts0),
UNIX_TIMESTAMP(ts2) - UNIX_TIMESTAMP(ts1),
UNIX_TIMESTAMP(ts3) - UNIX_TIMESTAMP(ts2),
UNIX_TIMESTAMP(ts4)- UNIX_TIMESTAMP(ts3),
UNIX_TIMESTAMP(ts5)- UNIX_TIMESTAMP(ts4) FROM iwe_statustran
"""
cursor.execute(sql)
t2 = time.clock()
print t2 - t1

2.88361528768

In [3]:
import pandas as pd
rawD = cursor.fetchall()
data = list(rawD)
    
# init pandas dataframe
df = pd.DataFrame(data)

# data frame contains the median info
medianDF = df.groupby(df[0]).median().T

In [4]:
medianDF

,ASSIGNED NEW,ASSIGNED NEW ASSIGNED,ASSIGNED NEW ASSIGNED NEW,ASSIGNED NEW ASSIGNED NEW ASSIGNED,ASSIGNED NEW ASSIGNED NEW ASSIGNED NEW,ASSIGNED NEW ASSIGNED NEW ASSIGNED RESOLVED,ASSIGNED NEW ASSIGNED NEW RESOLVED,ASSIGNED NEW ASSIGNED NEW RESOLVED VERIFIED,ASSIGNED NEW ASSIGNED RESOLVED,ASSIGNED NEW ASSIGNED RESOLVED REOPENED NEW,...,UNCONFIRMED RESOLVED VERIFIED UNCONFIRMED ASSIGNED RESOLVED,UNCONFIRMED RESOLVED VERIFIED UNCONFIRMED NEW,UNCONFIRMED RESOLVED VERIFIED UNCONFIRMED NEW ASSIGNED,UNCONFIRMED RESOLVED VERIFIED UNCONFIRMED NEW RESOLVED,UNCONFIRMED RESOLVED VERIFIED UNCONFIRMED RESOLVED,UNCONFIRMED RESOLVED VERIFIED UNCONFIRMED RESOLVED CLOSED,UNCONFIRMED RESOLVED VERIFIED UNCONFIRMED RESOLVED UNCONFIRMED,UNCONFIRMED RESOLVED VERIFIED UNCONFIRMED RESOLVED VERIFIED,VERIFIED REOPENED RESOLVED VERIFIED,VERIFIED UNCONFIRMED RESOLVED VERIFIED
1,21087081.0,3591521.0,17948492.0,2067637.0,6897421.0,6896824.0,6908381.5,6114361.0,3972830.0,419142.0,...,441241.0,94078.0,89771.0,30101.0,11152.0,54646.0,11060949.5,9065.5,76545326.0,19549636.5
2,NaN,6616153.0,7602607.0,4558239.0,623202.0,623172.0,774764.5,48302.0,703716.0,1284721.0,...,75616.0,22748.5,1583629.0,29482.5,15541.0,4714.0,21224.0,16542.5,73.0,2404202.5
3,NaN,NaN,6624657.0,286385.0,12174999.0,4841339.0,4441842.5,5257137.0,1398123.0,18585324.0,...,19985.0,3636711.5,147976724.0,630168.5,492742.0,642782.0,718.0,111098.0,129.0,2201495.0
4,NaN,NaN,NaN,1421447.0,14174223.0,619222.0,26363592.5,1665123.0,NaN,18903074.0,...,1663.5,102211.5,4569444.0,15745.0,2545.0,232041.0,500.0,1104.0,NaN,NaN
5,NaN,NaN,NaN,NaN,1213.0,591237.0,NaN,590973.0,NaN,41919367.0,...,7693677.5,NaN,69153653.0,32028197.0,NaN,1319832.0,2078.5,34200.0,NaN,NaN

In [5]:
medianDF["NEW ASSIGNED RESOLVED VERIFIED"]

1    169342.0
2    596539.0
3    594961.0
4         NaN
5         NaN
Name: NEW ASSIGNED RESOLVED VERIFIED, dtype: float64

In [6]:
sizeSeries = df.groupby(df[0]).size()

In [7]:
sizeSeries["NEW ASSIGNED RESOLVED VERIFIED"]

26603